<div class="all">
    <div class="first">
        <div class="left">
            <h3>A book is a gift you can open again and again</h3>
            <p>-- Garrison Keillor</p>
            <div>
                <button>Claim Discount</button>
                <button>Open Flash Sale</button>
            </div>
        </div>
        <div class="right">
            {{!-- <h3>A book is a gift you can open again and again</h3> --}}

        </div>
        {{!-- <img src="https://avatars.mds.yandex.net/i?id=df0f96910af57bcd9992bad9b2f0f1da1c58a8a0-4450519-images-thumbs&n=13" alt=""> --}}
    </div>
  
</div>